html,
body {
  margin: 0px;
  padding: 0px;
  background-image: url(./Res/background.jpg);
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
}
.TodoItem {
  height: fit-content;
  font-family: "DM Sans", sans-serif;
}
.navbar {
  font-family: "DM Sans", sans-serif;
  background-color: rgb(250, 250, 250);
  display: flex;
  align-content: center;
  justify-content: center;
  padding-bottom: 5px;
  margin-bottom: 30px;
}
.add {
  width: 600px;
}
.add-btn {
  cursor: pointer;
  width: 150px;
  height: 30px;
  border: 3px;
  border-color: rgb(0, 0, 0);
}
.btn {
  cursor: pointer;
  padding: 5px;
  margin: 2px 5px;
  background-color: rgb(250, 250, 250);
  border: 2px;
  border-radius: 3px;
  border-color: rgb(0, 0, 0);
}
